body {
    height: 20px;
  }
  .left {
    width: 30%;
    height: 30%;
    background-color: darkslategrey;
  }
  .right {
    width: 30%;
    height: 30%;
    background-color: darkslategrey; 
  }
  .relative {
    height: 80px;
    width: 4000px;
    background-color: rgb(157, 156, 156);
    color: white;
    position: absolute; 
    top: 0;
    left: 0;
  }
  .fixed {
    height: 200px;
    width: 200px;
    background-color: yellow;
    position: fixed;
    bottom: 0;
    right: 0;
  }
  .nav {
    height: 20%;
    position: absolute;
    bottom: 0;
    left: 0;

  }
